<ion-content>
  <ion-button class="Back" routerLink="/inicio">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
<ion-card>
  <ion-card-title>Inicio Sesion Administrador</ion-card-title>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="login()">Iniciar sesión</ion-button>

  <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
</ion-card>
</ion-content>
